.home-page .recommended-section .container {
  background-image: url(../../Assets/pietro-de-grandi-T7K4aEPoGGk-unsplash.jpg);
}

.home-page .holiday-plan-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url(../../Assets/jack-anstey-XVoyX7l9ocY-unsplash.jpg);
}

.home-page .need-inspiration-section {
  background-image: url(../../Assets/sean-oulashin-KMn4VEeEPR8-unsplash.jpg);
}
