.city-breaks-page .second-hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../Assets/amsterdam1.jpg);
}
.city-breaks-page .holiday-plan-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../Assets/edinburgh-scotland-SCOTTIME0422-34c035ddc2574f219e77ec01eddeea6e.jpg");
}

.city-breaks-page .recommended-section .container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url("../../Assets/woman-with-sarong-walking-on-pier-maldives-royalty-free-image-1608667814_.jpg");
}

.city-breaks-page .need-inspiration-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url("../../Assets/travel-tips-feature.jpg");
}
