.holidays-page .second-hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../Assets/garrett-parker-DlkF4-dbCOU-unsplash.jpg);
}

.holidays-page .need-inspiration-section {
  background-image: url(../../Assets/massimo-virgilio-dowzP7INy1A-unsplash.jpg);
}

.holidays-page .holiday-plan-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.75)),
    url(../../Assets/edinburgh-scotland-SCOTTIME0422-34c035ddc2574f219e77ec01eddeea6e.jpg);
}

.holidays-page .recommended-section .container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.75)),
    url(../../Assets/massimo-virgilio-dowzP7INy1A-unsplash.jpg);
}
